<a href="https://colab.research.google.com/github/cat97-a11/hello-world/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# we will start by importing from our libraries
import pandas as pd
import numpy as np

In [7]:
# Then we proceed to load our dataset
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

Exploration

In [0]:
# We will then proceed to check the information for our dataset
# So as to study the columns and figure out the unique categories

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

Data Cleaning

In [66]:
#What columns do I need for my analysis process?

#Cars (Since it is  a duplicate of the bluecars counter, it can be dropped)
#Charge Slots
#Charging Status
#Displayed comment
#Geo point
#Scheduled at
#ID
#Rental
#Slots
#year
#month
#minute

df = df.drop(['Charge Slots','Charging Status','Rental status','Slots','year','month','minute','Cars','Geo point','ID'],axis=1)
df.head()

                              Address  Bluecar counter  ...  day  hour
0                 2 Avenue de Suffren                0  ...    8    11
1           145 Rue Raymond Losserand                6  ...    6     7
2    2 Avenue John Fitzgerald Kennedy                3  ...    3    20
3              51 Rue EugÃ¨ne OudinÃ©                3  ...    4     4
4  6 avenue de la Porte de Champerret                3  ...    8    17

[5 rows x 13 columns]

In [69]:
# We count the number of non - missing values in the df dataframe
df.count()

Address                5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
City                   5000
Kind                   5000
Postal code            5000
Public name            5000
Station type           5000
Status                 5000
Subscription status    5000
day                    5000
hour                   5000
dtype: int64

In [70]:
# checking for null values

df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
City                   0
Kind                   0
Postal code            0
Public name            0
Station type           0
Status                 0
Subscription status    0
day                    0
hour                   0
dtype: int64

In [75]:
#Changing the case of column names to lower
#stripping whitespaces, removing periods and replacing spaces with underscore

df = df.str.lower().str.strip().str.replace(' ', '_').str.replace('.', '')
df

Index(['address', 'bluecar_counter', 'utilib_counter', 'utilib_14_counter',
       'city', 'kind', 'postal_code', 'public_name', 'station_type', 'status',
       'subscription_status', 'day', 'hour'],
      dtype='object')

Data Analysis

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
#in the city of Paris over the month of April 2018